body {
  background: #f90;
}
#masthead > .container {
  background: #e08700;
}
#topnav > li > a,
#ProcessPageSearchForm > label,
#footer {
  color: #ffcc80;
}
#footer a {
  color: #ffebcc;
}
#ProcessPageSearchForm #ProcessPageSearchQuery:hover {
  background: #c27400;
}
@media only screen and (max-width: 767px) {
  #ProcessPageSearchForm #ProcessPageSearchQuery {
    background: #ffa31a;
    border: 1px solid #e68a00;
  }
}
