body {
  background: #9a64ad;
}
#login-box,
#wrapper {
  box-shadow: 0 0 4px #8e56a2;
}
#masthead > .container {
  background: #8b549f;
}
#topnav > li > a,
#ProcessPageSearchForm > label,
#footer {
  color: #d0b7d9;
}
#footer a {
  color: #f1e9f4;
}
#ProcessPageSearchForm #ProcessPageSearchQuery:hover {
  background: #7a498b;
}
@media only screen and (max-width: 767px) {
  #ProcessPageSearchForm #ProcessPageSearchQuery {
    background: #a575b6;
    border: 1px solid #8e56a2;
  }
}
