
// VARIATIONS
// MAIN
@dark-main: darken(@main, 10%);
@darker-main: darken(@main, 20%);
@darkest-main: darken(@main, 30%);

@light-main: lighten(@main, 10%);
@lighter-main: lighten(@main, 20%);
@lightest-main: lighten(@main, 30%);

// ACCENT
@dark-accent: desaturate(darken(@accent, 6%), 10%);
@darker-accent: darken(@accent, 20%);
@darkest-accent: darken(@accent, 30%);

@light-accent: lighten(@accent, 10%);
@lighter-accent: lighten(@accent, 15%);
@lightest-accent: lighten(@accent, 25%);



// MAIN COLOR APPLICATIONS 
body{
	background: @main;
}



a,
.content .AdminDataList td a,
.content .PageListActions a:hover,
.Inputfields .InputfieldHeader:hover{
	/* standard link color */
	color: @accent;
}

a:hover,
.content .AdminDataList td a:hover {
	/* hovered link color */
	color: @main;
}


#collapse-topnav-menu,
#footer > .container,
#masthead > .container{
	background: @dark-main;
}
#masthead > .container{
	background: @dark-main;
}

.collapse-topnav #masthead > .container{
	border-color: @dark-main;
}

#footer,
#footer a,
#topnav > li > a,
#ProcessPageSearchForm > label{
	color: @lighter-main;
}



.ui-menu,
#topnav > li > a.hover,
#topnav > li > a:hover,
#ProcessPageSearchForm #ProcessPageSearchQuery:hover {
	background: @darker-main;
}

// ACCENT APPLICATIONS 

.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active{
	background: @light-main;
}
#headline,
#topnav a.on{
	background: @accent !important;
}
#headline{
	border-color: @dark-accent !important;
}



#breadcrumbs ul a,
#breadcrumbs ul li{
	color: @lightest-accent !important;
}
#footer a:hover,
#topnav a.on,
#breadcrumbs ul li.title,
#breadcrumbs ul a:hover{
	color: #fff !important;
}
@media only screen and (max-width: 767px) {

	#ProcessPageSearchForm{
		#ProcessPageSearchQuery{
			background: lighten(@main, 5%);
			border: 1px solid darken(@main, 5%);
		}
	}
}
