#topnav {
	z-index: 5;
	position: relative;
	float: left;
	-webkit-font-smoothing: antialiased;

	> li {
		padding: 0;
		margin: 0;
		list-style: none;
		float: left;
		display: inline;
		text-transform: uppercase;
	}

	> li > a {
		color: @lighter-bg;
		display: block;
		padding: 0.7em 0.9em;
		font-weight: @tabs-font-weight;
	}


	> li > a.hover,
	> li > a:hover {
		color: #fff;
		text-decoration: none;
	}

	a.on:hover,
	a.on {
		color: #fff;
		text-decoration: none;
	}



}

.collapse-topnav-menu{
	background: @dark-bg;
	color: #fff;
	padding: 0.6em 1em;
	position: absolute;
	z-index: 100;
	// bottom: 0;
	top: 100%;
	right: 0;
	float: left;
	cursor: pointer;
	text-align: center;
	display: none !important;
}
.collapse-topnav #collapse-topnav-menu{
	display: block;
}

.collapse-topnav{
	// margin-top: 1em;
	#masthead{
		> .container{
			max-height: 0;
			float: none;
			border-top: 6px solid;
			overflow: hidden;
			border-color: @dark-bg;

		}
		&.is-open{
			.container{
				max-height: 800px;
				// overflow: auto;
			}
		}
	}

	#topnav {
		float: none;
		> li{
			display: block;
			clear: both;
			float: none;
		}
		&.is-open{
			height: auto;
		}
	}
	.dropdown-menu{
		display: none !important;
	}
}

#dropdowns{
	margin-top: -1px;
}

.dropdown-menu{
	// display: none;
	padding: 0 !important;
	border-radius: 0 !important;
	border: 0 !important;
	// background: transparent !important;
	position: absolute !important;
	z-index: 200;
	width: 100% ;
	i{
		font-size: 14px !important;
	}
	.ui-menu{
		position: absolute !important;
		right: 0;
	}
	.ui-menu-item{
		width: 100%;
		clear: none !important;
		border: 0 !important;
		.has-items-icon{
			position: absolute;
			top: 0;
			bottom: 0;
			right: 0;
			padding: 0.8em 1.3em;
			background: #222;
		}
		a{
			border-radius: 0 !important;
			white-space: nowrap;
			padding: 1em !important;
			line-height: 1em !important;
			position: relative;
			span.ui-icon{
				display: none !important;
			}
			small{
				font-size: 1em;
				color: @gray;
				font-weight: bold;
				margin: 0  0.4em;
			}
			&.ui-state-focus,
			&.ui-state-active{
				color: @white !important;
				background: @light-bg !important;
			}
		}

		> .ui-menu{
			// width: 600px;
			> .ui-menu-item{
				float: left;
				width: 33.333%;


				&.add{
					width: 100%;
				}
			}

		}

	}

	li.add > a{
		background: @green;
		background: @dark-gray;
		color: #fff;
		white-space: nowrap;
		text-transform: uppercase;
		font-weight: bold;
	}
	li.add > a.ui-state-focus{
		background: @dark-green;
		color: @dark-green;
	}


	&.shortcuts{

		.ui-menu-item{
			background: @lightest-gray;
			&:first-child{
				margin-top: 0.3em;
			}
			> a{
				color: @dark-gray;
			}
		}

	}
	
	&.is-open{
		display: block !important;
	}

}
