
/***********************************************************************************************
 * GENERAL
 *
 */

*, *:before, *:after {
	box-sizing: border-box;
	outline-color: $blue;
 }

body {
	font-size: $base-font-size;
	color: $text-color;
}
body,
.ui-dialog,
.ui-button,
input,
textarea {
	font-family: $regular-font;
	
}
body.modal {
	background-color: $text-bg;
}



a:hover,
.content .AdminDataList td a:hover {
	text-decoration: underline;
}


.container {
	position: relative;
	width: 95%;
	max-width: 1200px;
	margin: 0 auto;
	&:after {
		content: "";
		display: table;
		clear: both;
	}
}
#wrapper .container{
	width: auto;
	padding: 0;
	margin: 0 1em;
}

.WireFatalError {
	background: $error-bg;
	color: $reverse-text-color;
	padding: 1em;
	position: relative;
	z-index: 9999;
}



/***********************************************************************************************
 * MASTHEAD
 *
 */
#logo {
	float: left;
	position: relative;
	left: -3px;
	margin-top: 0.7em;
}
#wrapper{

	position: relative;
	z-index: 0;
}

#masthead {
	// background: $masthead-bg;
	position: relative;
	margin-top: 1em;
	z-index: 5;
	> .container{
		transition: height 0.8s linear;
	}
}
#topnav {
	z-index: 5;
	position: relative;
	float: left;
	-webkit-font-smoothing: antialiased;
	// display: inline-block;
	// margin-top: 0.5em;

	> li {
		padding: 0;
		margin: 0;
		list-style: none;
		float: left;	
		display: inline;
		text-transform: uppercase;
	}

	> li > a {
		// background: $topnav-link-bg;
		// color: $topnav-link-color;
		display: block;
		// float: left;
		padding: 0.7em 0.9em;
		font-weight: $tabs-font-weight;
	}


	> li > a.hover,
	> li > a:hover {
		background: $dark-gray;
		color: $topnav-link-hover-color;
		text-decoration: none;
	}

	a.on:hover,
	a.on {
		color: $topnav-link-current-color;
		background: $topnav-link-current-bg;
		text-decoration: none;
	}



}
#collapse-topnav-menu{
	background: $headline-bg;
	color: #fff;
	padding: 0.6em 1em;
	position: absolute;
	z-index: 100;
	// bottom: 0;
	top: 100%;
	right: 0;
	float: left;
	cursor: pointer;
	text-align: center;
	display: none;
}
.collapse-topnav #collapse-topnav-menu{
	display: block;
}

.collapse-topnav{
	// margin-top: 1em;
	#masthead{
		> .container{
			max-height: 0;
			float: none;
			border-top: 6px solid;
			overflow: hidden;


		}
		&.is-open{
			.container{
				max-height: 800px;
				// overflow: auto;
			}
		}
	} 

	#topnav {
		float: none;
		> li{
			display: block;
			clear: both;
			float: none;
		}
		&.is-open{
			height: auto;
		}
	}
	.dropdown-menu{
		display: none !important;
	}
}


#breadcrumbs {
	padding: 0;
	line-height: 1em;
	// margin-bottom: 1em;
	color: $gray;
	-webkit-font-smoothing: antialiased;

	ul {


		li {
			color: $gray;
			display: inline-block;
			padding: 0;
			line-height: 1em;
			white-space: nowrap;

			padding-right: 0.5em;
			text-transform: uppercase;

		}
		li.title{
			display: block;
			margin-top: 0.2em;
			color: $dark-gray;
			font-size: 1.4em;
			font-weight: bold;
			text-transform: none;
			white-space: normal; 
		}
		a {
			color: $gray;
			margin-right: 0.5em;
			font-size: 0.85em;
		}

		a:hover {
			color: $breadcrumbs-link-hover-color;
			background: none;
			text-decoration: underline;
		}

		a.sitelink {
			float: left;
			font-size: 14px;

		}

	}

}

#ProcessPageSearchForm {
	float: right;
	margin: 0;
	width: 294px;
	max-width: 30%;
	min-width: 90px;
	position: relative;

	> label{
		// color: $search-input-color;
		position: absolute !important;
		right: 0.7em !important;
		padding: 0;
		line-height: 14px !important;
		font-size: 14px;
		top: 50% !important;
		display: block !important;
		opacity: 1 !important;
		z-index: 120;
		margin-top: -0.55em !important;
	}
	#ProcessPageSearchQuery {
		margin: 0;
		height: 100%;
		padding: 0.7em 0.8em;
		padding-right: 2.3em;
		font-size: 1em;
		width: 100%;
		background: transparent;
		text-align: right;
		// border: 1px solid darken($breadcrumbs-bg, 10%);
		border: none;
		// border-radius: $button-radius;
		outline: none;
	}
	#ProcessPageSearchQuery:focus {
		background: $text-bg !important;
		color: $text-color;
		text-transform: none;
		font-weight: normal;
	}

	#ProcessPageSearchStatus {
		position: absolute;
		top: 0.7em;
		left: 0.6em;
		// color: $search-input-color;
		font-weight: bold;
	}

}
#ProcessPageSearchAutocomplete{
	margin-left: 17px;
}

#headline {
	position: relative;
	z-index: 5;
	background: $headline-bg;
	border-bottom: $headline-border;
	padding: 1.5em 0;
	margin-bottom: -1px;
	.container {
		position: relative;
	}


	#head_button {
		/* The main/primary button for a listing screen, appears in the masthead */
		position: absolute;
		margin: 0;
		margin-top: -1.3em;
		top: 50%;
		right: 0;
		z-index: 2;

		button {
			font-size: 1.3em;
			margin-right: 0;
			margin-left: 10px;
			float: right;
			background: #fff !important;
			color: $gray !important;
		}		
		button.hover {
			color: $dark-gray !important;
		}
	}

	#title {
		font-size: 1.7em;
		line-height: 1em;
		vertical-align: middle;
		margin: 0;
		padding: 0;
		color: $headline-color;
		padding-right: 5em;
	}


}



/***********************************************************************************************
 * CONTENT
 *
 */



		#content .container > form,
		#content .container > .ui-helper-clearfix > form {
			position: relative;
			top: -1px;
		}

.content {

	img {
		display: block;
	}

	.nav a.label {
		font-size: 1em;
	}

	p,
	ul
	ol,
	table {
		margin: 1em 0;
	}

	table th,
	table th.header,
	table.AdminDataList th,
	h4 {
		color: $table-th-color;
	}

	table.AdminDataList th.headerSortUp,
	table.AdminDataList th.headerSortDown,
	table th.headerSortUp,
	table th.headerSortDown,
	table th:hover {
		color: $table-th-active-color;
	}

	table.AdminDataList {
		margin-top: 0;
	}
		.container > table.AdminDataList {
			margin-top: 1em;
		}

	h2 {
		margin: 1em 0;
		font-size: 1.4em;
		line-height: 1.2em;
		color: $medium-text-color;
	}
		h2 a {
			text-decoration: underline;
		}
		h2 a:hover {
			color: $reverse-text-color;
			background: $link-hover-color;
			text-decoration: none;
		}

	h3 {
		margin: 1em 0;
		font-size: 1.2em;
	}

	h4 {
		margin: 1em 0 0.25em 0;
		text-transform: uppercase;
		font-weight: bold;
		font-size: 0.916666666666667em;
	}

	li {
		margin: 1em 0;
		display: block;
		list-style: disc;
	}

	ol li {
		display: list-item;
		list-style-type: decimal;
		margin-left: 1em;
	}

	/**
	 * Actions: like the "|edit|view|new" in the PageList
	 *
	 */

	.PageListActions {
		margin-left: 1em !important;
		background: #fff;
		border: 1px solid #ccc;
		border-radius: 1em;
		padding: 2px;
		-webkit-font-smoothing: antialiased;
		vertical-align: baseline !important;
		// opacity: 0.5;
		li{
		    border-left: 1px solid #ccc !important;
		    line-height: 0.9em !important;
		    &:first-child{
		    	 border-left: 0 !important;
		    }
		}

		a {
			margin: 0 !important;
			vertical-align: text-top;
		    padding: 6px !important;
		    line-height: 1.5em !important;
		    color: $action-link-color;
		    text-transform: uppercase;
		    font-weight: bold;
		    font-size: 0.85em;

		}
		a:hover{
			color: $action-link-hover-color;
		}
	}
	.PageListItem:hover .PageListActions{
		opacity: 1;
	}
	.PageListStatusIcon {
		color: lighten($text-color, 40%);
		font-size: 14px;
		margin: 0 0.3em;
	}

		ul.actions li,
		.PageListActions li,
		li.action {
			border: none;
			padding: 0 1px;


		}




	.PageListMoveNote {
		text-transform: lowercase;
		cursor: move;
	}

	.PageListSelectName {
		margin-right: 0.5em;
		i {
			margin-right: 0.25em;
		}
	}


	/**
	 * Content navigation like when on the root page of "templates" or "access"
	 *
	 */
	dl {
		margin: 0;
	}
		.container > dl:first-child {
			margin-top: 0;
		}
		dt,
		dt {
			display: block;
			font-weight: bold;
			// padding-top: 1em;
		}
		dt a {
			// text-transform: none;
			color: $link-color;
		}
		dt a:hover {
			color: $link-hover-color;
		}
		dl dd {
			// padding-bottom: 1em;
			// border-bottom: 1px solid $subtle-border;
		}
		dd + dt{
			margin-top: 1.5em;
		}

	/**
	 * PageList
	 *
	 */

	#PageListContainer {
		padding: 0;
		margin-top: -0.5em;
	}
	.InputfieldContent > #PageListContainer{
		padding: 0;
	}
	.PageList {
		position: relative !important;
		overflow: visible !important;
		margin: 0!important;
		padding: 0 0 0 23px;
		&:before {
			content: "";
			position: absolute;
			width: 0;
			left: -4px;
			margin-top: -3px;
			top: -($pagelist-item-height/2);
			z-index: 0;
			bottom: -($pagelist-item-height/2);
			border-left: 1px dotted #ccc;
		}

		.PageListItem {
			// border-bottom: 1px solid lighten($subtle-border, 4%);
			position: relative;
			clear: both;
			line-height: $pagelist-item-height;
			// height: $pagelist-item-height;
			padding: 0 6px !important;
			margin: 0 0 0 6px !important;
			padding-right: 0 !important;
			border-radius: 4px;
			// border-bottom: 1px solid #eee;
			&:hover{
				background:$pagelist-item-hover-bg;
			}
			&:before {
				content: "";
				position: absolute;
				width: 13px;
				left: -10px;
				// margin-top: -1px;
				top: 50%;
				border-bottom: 1px solid #ccc;
				z-index: 1;
			}

			&:after {
				content: "";
				position: absolute;
				left: -10px;
				bottom: 50%;
				height: 100%;
				border-left: 1px solid #ccc;
				z-index: -1;
			}
			&:first-child:after {
				top: -($pagelist-item-height/8);
				height: 68%;
			}			


			&:nth-last-child(2) + .PageList:before {
				content: none !important;
			}			


			&.PageListSortItem{
				background: none !important;
				.PageListNumChildren{
					color: #444 !important;
					display: none !important;
				}
				.PageListPage{
					background: #444 !important;
					border-radius: 1em;
					color: $white !important;
					padding: 0.2em 0.6em 0.2em 0.3em;
					text-decoration: none !important;
					&:before {
						box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15);
					}
				}
				.PageListMoveNote{
					margin: 0 0.6em;
					i.icon-angle-right{
						display: none;
					}
					a{
						display: inline-block;
						// background: $dark-red;
						color: $red;
						text-transform: uppercase;
						font-weight: bold;
						margin: 0 0.6em;
					}
				}

			}
			&.ui-sortable-helper{
				.PageListMoveNote,
				&.PageListItem:after,
				&.PageListItem:before{
					display: none !important;
			 	}

			}
		}
		.PageListPlaceholderItem{
			display: none !important; // looks like this isn't needed anymore  :(
			border: 1px dashed #aaa !important;
			background: #f6f6f6 !important;
			position: relative;
			width: 150px;
			height: 22px !important;
			border-radius: 11px;
			padding: 0 !important;
			margin: 0 0 ($pagelist-item-height/3) 12px !important;


			&:before {
				content: "";
				position: absolute;
				width: 13px;
				left: -15px;

				top: 50%;
				border-bottom: 1px dashed #ccc;
				z-index: 1;
			}
			&:after {
				content: "";
				position: absolute;
				left: -17px;
				top: -20px;
				bottom: -12px;
				border-left: 1px solid #ccc;
				z-index: 1;
			}
	 	}
		.PageListSortPlaceholder {
			height: 0!important;
			padding: 0!important;
			// top: -1px;
			position: relative;
			margin: 0 0 -1px 0!important;
			background: transparent!important;
			border: none!important;
			border-bottom: 1px dashed $subtle-border!important;
			width: auto!important;
			z-index: 10;
		}
		.PageListSortPlaceholder:before {
			content : "";
			width: 0px !important;
			position: absolute;
			left: -6px;
			top: -8px;
			padding: 0;
			height: 0px !important 	;
			border-style: solid;
			border-width: 8px 0 8px 10px;
			z-index: 10;
			border-color: transparent transparent transparent $blue;
		}

		.PageListSortPlaceholder:after {
			content : "";
			width: 12px !important;
			height: 6px !important ;
			background: $blue;
			position: absolute;
			left: -12px;
			top: -3px;
			padding: 0;
		}


		.PageListItem + .PageListActions{
			margin-bottom: 12px !important;
			display: block;
			border: none !important;
			background: transparent;
			.PageListActionMore{
				
				text-transform: uppercase;
				font-weight: bold;
				padding: 0;
				clear: both;
				margin: 0 -6px;
				a{
					background: $blue;
					box-shadow: $button-shadow;
					padding: 5px 12px 6px;
					border-radius: 3px;
					
					margin: 0 !important;
					color: $white !important;
				}
				border: 0 !important;
				&:hover{
					background: $light-blue;
				}
			}

		}
		.PageListLoading{

			background: #fd0;
			box-shadow: inset 0 -2px 0 #fba, 0 0 5px 1px #ffa;
			display: block;
			height: 11px;
			width: 11px;
			position: absolute;
			left: 8px;
			padding: 0 !important;
			margin: -5px 0 0 0 !important;
			top: 50%;
			// margin-top: ;
			z-index: 5 !important;
			border-radius: 50%;
			animation: loading 0.5s infinite;


		}
		.PageList > .PageListLoading{

			background: transparent;
			display: block;
			position: absolute;
			width: 0;
			height: auto;
			left: 19px !important;
			margin: 0 !important;
			top: 0 !important;
			bottom: 0px !important;
			z-index: 5 !important;
			border-radius: 0;
			border: 0;
			border-left: 1px dotted $white;
			// animation
			animation: loading 0.8s infinite;

		}

		a.PageListPage {
			color: $pagelist-link-color;
			opacity: 1.0;
			text-decoration: none;
			line-height: 21px !important;
			vertical-align: baseline;
			// background: #fff;
		}
		// page list status dots
		.PageListPage:before {
			content:"";
			background: $green;
			height: 11px;
			width: 11px;
			top: 1px;
			display: inline-block;
			vertical-align: baseline;
			position: relative;
			margin: 0 8px 0 2px;
			box-shadow: inset 0 -2px 0 rgba(0,0,0,0.15), 0 1px 3px #ddd;
			z-index: 5;
			border-radius: 50%;
		}


		// no dot for home
		.PageListID1{
			background: none !important;
			margin: 0 !important;
			> .PageListPage:before {
				display: none;
			}
		} 

		// page states
		.PageListStatusUnpublished .PageListPage:before {
			background: $orange;
		}

		.PageListStatusSystem  .PageListPage:before {
			background: $blue;
		}

		.PageListStatusHidden .PageListPage:before {
			background: $purple;
		}
		.PageListAccessOff  .PageListPage:before {
			background: $red;
		}

		.PageListItem > a.PageListPage:hover {
			text-decoration: underline;
			color: $pagelist-link-hover-color;
		}
		.PageListItem > a.PageListPage:active {
			text-decoration: underline;
			color: $pagelist-link-active-color;
		}
		.PageListItem > a.PageListPage i {
			padding: 0 0.4em 0 0;
			color: $pagelist-link-icon-color;
		}
		.PageListItem > a.PageListPage i.icon-lock,
		.PageListItem > a.PageListPage i.icon-unlock,
		.PageListItem > a.PageListPage i.icon-trash {
			padding: 0 0 0 0.25em;
			color: #777;
		}
		.PageListItem > a.PageListPage:hover i {
			text-decoration: none;
		}

		.PageListStatusHidden:not(.PageListItemOpen) > a.PageListPage {
			opacity: 0.75;
		}

		.PageListNumChildren {
			line-height: $pagelist-item-height;
			font-weight: bold;
			margin: 0 0.6em;
			font-style: italic;
			font-size: 0.85em;
			color: $gray;
			float: right;
		}

		.PageListItemOpen .PageListNumChildren {
			color: $blue;
		}


	}
	.PageListRoot{
		.PageListID1{
			padding-left: 0 !important;
		}
		> .PageList{
			padding: 0;
			&:before{
				display: none !important;
			}
			> .PageList{

				padding-left: 5px;
				&:before{
					display: none !important;
				}
			}
			> .PageListItem:before,
			> .PageListItem:after{
				display: none;
			}
		}
	}

	.PageListRootHidden > .PageList > .PageListItem:first-child:after,
	.PageListRoot > .PageList > .PageListItem:after{
		display: none !important;
	}
	/* MarkupAdminDataTable */
	.AdminDataList th,
	.AdminDataList td {
		border-bottom: 1px solid $subtle-border;
		padding: 0.4em 0.6em;
		vertical-align: middle !important;
	}
	.AdminDataList td {
		border-bottom: 0;
	}
	.AdminDataList button{
		font-size: 0.9em !important;
		margin: 0 1em 1em;
		line-height: 15px;
		vertical-align: middle;
		float: right;
	}
	.AdminDataList tr:nth-child(odd) td {
		background: lighten($subtle-bg, 5%);
	}
	.AdminDataList tr:hover td{
		background: $subtle-bg !important;
	}

	.AdminDataList td a {
		color: $link-color;
		// vertical-align: middle;
	}
	.AdminDataList td a:hover {
		color: $link-hover-color;
	}
	.AdminDataList td i,
	.AdminDataList td .fieldFlag{
		vertical-align: top;
		margin-right: 2px;
		line-height: 14px;
		font-size: 14px;
	}
	.AdminDataList td .fieldFlag:hover{
			color: $dark-gray;
	}

	.templateFlag{
		border: 0 !important;
	}	
	.templateFlag:hover i{
		color: $link-color !important;
	}

	/* MarkupPagerNav */
	.MarkupPagerNav {

		list-style: none;
		margin: 0;
		padding: 0;
		margin: 1em 0;

		li {
			padding: 0;
			margin: 0;
			list-style: none;
			display: inline;
			padding: 6px 0;
			background: none;

			a {
				padding: 4px 9px;
				margin: 0;
				text-decoration: none;
			}
		}

		li.MarkupPagerNavSeparator {
			border: none;
		}
	}

	/* Pagination */

	ul.MarkupPagerNav,
	ul.PageListPagination{
		padding: 0 4px !important;
		border-radius: 2em;
		position: relative;
		z-index: 150;
		background: $white;
		// background-color: transparent !important;
		border: 1px solid #ccc;
		float: left;
		height: auto !important;
		display: block !important;
		margin: 2px -16px 4px!important;
		li{
			margin: 0 0 0 1px;
			// line-height: 12px;
			// background-color: transparent !important;
			padding: 0 !important;
			display: inline-block;
			// float: left;
			background: transparent;
			border: none;
			a{
				background: transparent ;
				color: $gray;
				padding: 6px;
				min-width:20px;
				height: 20px;
				font-weight: bold;
				line-height: 5px;
				text-align: center;
				margin:  0 0 !important;
				display: inline-block;
			}
			a:hover{
				// background-color: #444;
				color: $dark-gray;
			}
			&:first-child{
				margin: 0;
			}
		}

		.PageListPaginationCurrent{
			a{
				// background: $dark-gray !important;
				color: $blue !important;
				opacity: 1!important;
			}
		}

		a.ui-priority-secondary{
			color: transparent !important;
			background: transparent !important;
		font-size: 0;
		margin: 0 !important;
			// background: url(jqueryui/images/ui-icons.png) -32px -16px no-repeat;
			&:hover,
			&.ui-state-hover{
				border-color: transparent !important;
				opacity: 1 ;
			}
		}
		a.ui-priority-secondary:before{
			color: #bbb;
			font-size: 12px;
			vertical-align: middle;
			line-height: 12px;
			  font-family: FontAwesome;
			display: inline-block;
			text-align: center;
			content: "\f054";
		}

		li:first-child .ui-priority-secondary:before{
			content: "\f053";
		}
		li:first-child a{
			margin: 0 !important;
		}
		.ui-priority-secondary:hover:before{
			color: $blue !important;
			background-color: transparent !important;
		}
	}
	.PageListPagination:before {
		content: "";
		position: absolute;
		width: 0;
		left: 11px;
		margin-top: -0.2em;
		top: -5px;
		z-index: -1;
		bottom: 100%;
		border-left: 1px solid #ccc;
	}
	#ProcessPageSearchResults > .MarkupPagerNav{
		margin-top: 0 !important;
	}


}

#content {
	/**
	 * WireTabs
	 *
	 */
	position: relative;
	background: $white;
	z-index: 4;
	padding: 1.6em 1em 2.4em;
	overflow: hidden;
	.WireTabs {
		background: darken($subtle-bg,2%);
		position: relative;
		padding: 0 1em;
		margin: 0;
		// margin-bottom: -1px;
		left: 0;
		width: 100%;
		z-index: 104;
		overflow: visible;
		text-transform: uppercase;

		li {
			background: none;
			margin: 0;
			padding: 0;
			margin-bottom: 0;
		}
		a {
			font-weight: $tabs-font-weight;
			padding: 0.9em 1em;
			display: inline-block;
			line-height: 1em;
			border: $wiretab-link-border;
			border-top: 0 !important;
			border-bottom: 0 !important;
			color: $wiretab-link-color;

			background: $wiretab-link-bg;
		}


		a:hover {
			border: $wiretab-link-hover-border;
			color: $wiretab-link-hover-color;
			background: $wiretab-link-hover-bg;

			em {
				border: none;
			}
		}

		a:active{
			// background: $wiretab-link-active-bg;
			color: $wiretab-link-active-color;
		}
		a.on:hover,
		a.on {
			color: $wiretab-link-current-color;
			border: $wiretab-link-current-border;
			background: $wiretab-link-current-bg;
			position: relative;
			z-index: 100;

		}

		a em {
			font-weight: $tabs-font-weight;
			font-style: normal;
			text-decoration: none;
			border: 0;
		}


		#_ProcessPageEditView {
			position: absolute;
			right: 0;
			// background: $subtle-border;
			border-bottom: 0;
			border-left: $headline-border !important;
			margin-right: 0;
			font-weight: bold;
			color: $dark-gray;
			-webkit-font-smoothing: antialiased;
		}


	}
}


.description {
	color: $medium-text-color;
	font-style: italic;

	margin: 0.5em 0;
}

.notes,
.detail {
	color: $medium-text-color;
	font-size: 0.875em;
	line-height: 1.3em;
}
.notes {
	background: $notes-bg;
	color: $notes-color;
	border: $notes-border;
	padding: 0.3em 0.6em !important;
	clear: both; 
	display: inline-block;
	margin-top: 0.3em;
}

.description strong,
.notes strong {
	color: $medium-text-color;
	font-weight: bold;
}

.error {
	background: $error-bg;
	color: $error-color;
	font-weight: bold;
}

/***********************************************************************************************
 * FOOTER
 *
 */

#footer {

	font-size: $footer-font-size;
	-webkit-font-smoothing: antialiased;
	> .container{
		padding: 0;
		margin-bottom: 2em;
		background: $subtle-bg;
		border-top: 1px solid $subtle-border;
	}

	a:hover {
		text-decoration: underline;
	}

	p {
		margin-top: 0;
		color: $gray;
	}

	.brand{
		padding: 0 1.3em;
		height: 100%;
		position: absolute;
		bottom: 0;
		top: 0;
		// margin-left: 30%;
		&:before{
			content: " ";
			height: 100%;
			width: 1px;
			display: inline-block;
			vertical-align: middle;
		}
		.logo{
			vertical-align: middle;
			display: inline-block;
		}
		img{
			max-width: 220px;
			
			
		}
	}

	.view-site{
		position: absolute;
		width: 70%;
		color: $gray;
		height: 30px;
		margin-left: -35%;
		margin-top: -15px;
		left: 50%;
		top: 50%;
		text-align: center;
		font-size: 0.9em;
		font-weight: bold;
		a{
			font-size: 1.2em;
		}
	}
	
}

#userinfo {
	float: right;
	position: relative;
	color: $gray;
	background: #f7f7f7;
	border-left: 1px solid $subtle-border;
	padding: 1.2em;
	a{
		font-weight: bold;
		// text-transform: uppercase;
	}
	.user_name{
		font-size: 1.2em;
		font-weight: bold;
	}	
	.user_email{
		font-size: 0.9em;
	}
	.user_image,
	.user_details{
		display: inline-block;
		vertical-align: middle;
	}
	.user_image{
		width: 56px;
		border-radius: 50%;
		overflow: hidden;
		border: 3px solid #fff;
		img{
			display: block;
		}

	}
	.user_actions{
		a{
			text-transform: uppercase;
			text-decoration: none !important;
			font-size: 0.9em !important;
			color: $gray;
			&:hover{
				color: $dark-gray;
			}
		}
	}
	&.has-gravatar{
		.user_details{
			margin-left: 0.8em;
		}
	}
}

#notices{
	font-size: 0.85em;
	.notices-remove{
		position: absolute;
		z-index: 20;
		top: 0.3em;
		right: 0;
		color: $white;
		font-size: 14px;
		&:hover{
			color: $dark-gray;
		}
	}	
	
	ul{
		width: 100%;
		margin: 0 !important;
		padding: 0 !important;
		list-style: none;
		position: relative;
		
		li{
			padding: 0.6em 0;
			margin: 0 !important;
			color: #fff;
			// font-weight: bold;
			// text-transform: uppercase;
			&.notice-success{
				background: $green;
				// color: lighten($green, 40%);
				a{
					color: darken($dark-green, 10%);
					font-weight: bold;
				}
			}
			&.notice-error{
				background: $red;
				a{
					color: darken($dark-red, 10%);
					font-weight: bold;
				}
			}
		}
	}
}

#debug_toggle{
	background: $dark-red;
	color: #fff;
	font-weight: bold;
	text-transform: uppercase;
	padding: 0.5em 0.7em;
	text-align: center;
	display: block;
	// float: left;
	clear: both;
	&:hover{
		background: $red;
	}
}
#debug {
	background:#fff;
	// border-top: 1px dashed $light-gray;
	.ui-accordion-header{
		background: $dark-gray;
		outline: none;
		padding: 0.5em;
		outline: none;
	}	

	.ui-accordion-header.ui-state-hover{
		background: lighten($dark-gray, 5%);
		a{
			color: #fff;
		}
	}
	.ui-accordion-header.ui-accordion-header-active{
		background: $orange;

		padding: 0.5em;
		a{
			color: #fff;
		}
	}

	.ui-accordion-content{
		height: auto !important;
		background: darken($dark-gray, 7%);
	}

	.container {
		width: 100%;
	}
	
	a{
		color: $gray;
	}

	p {
		margin: 1em 0;
	}

	ol {
		margin: 1em 0;
	}

	h4 {
		font-weight: bold;
	}

	table {
		width: 100%;

		th {
			font-weight: bold;
			background:darken($dark-gray, 15%);
		}

		td, th {
			vertical-align: top;
			padding: 4px 6px;
			border-bottom: 1px solid $dark-gray;
			border-left: 1px solid $dark-gray;
			font-size: 12px;
		}

	}

}

/***********************************************************************************************
 * MODAL
 *
 */

body.modal {

	#wrapper{
		box-shadow: none;
	}

	.container {
		margin: 0;
		width: 100%;
		max-width: none;
		min-width: 300px;
	}

	.content h2 {
		margin: 0.5em 0;
		font-size: 1.3em;
	}

	#footer,
	#masthead,
	#headline {
		display: none;
	}

}


/***********************************************************************************************
 * LOGIN
 *
 */

#login-box{
	background:#fff;
	// overflow: hidden;
	width: 300px;
	max-width: 100%;
	height: 300px;
	padding: 20px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin: -150px 0 0 -150px;
	
	#logo{
		text-align: center;
		margin-bottom: 1em;
		width: 100%;
		img{
			max-width: 75% !important;
		}
	} 
	.Inputfield{
		padding: 0;

	}
	ul.Inputfields .Inputfield{
		width: 100%;
		background: transparent !important;
		.InputfieldContent,
		.InputfieldHeader{
			border: 0;
			background: transparent !important;
			margin: 0 !important;
			padding: 0.4em 0;
		}
		.InputfieldHeader{
			text-align: center;
			color: $gray;
		}
		input{
			width: 100%;
			// border: 0;
		}
	}
	#wrap_login_name,
	#wrap_login_pass{

	}
	.InputfieldSubmit {
		width: 100%;
	}
	#Inputfield_login_submit{
		width: 100%;
		border-radius: 0;
		box-shadow: none;
	}
	.toggle-icon{
		display: none;
	}
	> div{
		// text-align: center;
		> div{
			margin-top: 0.4em;
			padding: 0.4em 0;
		}
		a{
			color: $gray;
			&:hover{
				color: $blue;
			}
		}
	}
}


/***********************************************************************************************
 * MISC
 *
 */



.hasWireTabs #content  {
	/* context selection in field editor */
	padding: 0 0 1.5em;
}

.hasWireTabs .content #fieldgroupContext {
	/* context selection in field editor */
	top: -2.25em;
	right: 0;
	z-index: 102;
}

#ModuleEditForm{
	.InputfieldSubmit{
		padding: 0 !important
	}
	.AdminDataTable tr td:first-child {
		color: $gray;
	}
}

#_ProcessPageEditDelete.on{
	color: $red !important;
}

#addLinksMenu {
	min-width: 150px;
}

.ui-menu{
	display: none;
	padding: 0 0 4px 0;
	border-radius: 0 !important;
	border: 0 !important;
	// background: $dark-gray;
	i{
		font-size: 14px !important;
	}
	.ui-menu{
		position: absolute !important;
	}
	.ui-menu-item{
		min-width: 120px;
		border: 0 !important;
		a{
			border-radius: 0 !important;
			color: $white !important;
			span.ui-icon{
				float: right;
			}
			small{
				font-size: 1em;
				color: $gray;
				font-weight: bold;
				margin: 0  0.4em;
			}
			&.ui-state-focus,
			&.ui-state-active{
				color: $white;
			}
		}
	}

	li.add > a{
		background: $green;
		color: $white !important;
		box-shadow: $button-shadow;
		border-radius: 4px !important;
		margin: 4px;
		// font-size: 14px;
		// border-bottom: 1px solid $subtle-bg;
		color: $green;
		text-transform: uppercase; 
		vertical-align: middle;
		// text-align: center;
		font-weight: bold;
	}	
	li.add > a.ui-state-focus{
		background: $dark-green;
		color: $dark-green;
	}
}

.align_left,
.align-left {
	float: left;
	margin: 0 1em 0.5em 0;
}

.align_right,
.align-right {
	float: right;
	margin: 0 0 0.5em 1em;
}

.align_center,
.align-center {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/***********************************************************************************************
 * MEDIA QUERIES
 *
 */

/* Smaller than standard 960 (devices and browsers) */
@media only screen and (max-width: 959px) {}

/* Tablet Portrait size to standard 960 (devices and browsers) */
@media only screen and (min-width: 768px) and (max-width: 959px) {}

/* All Mobile Sizes (devices and browser) */
@media only screen and (max-width: 767px) {


	#masthead{
		margin: 0;
	}
	.container {
		width: 100%;
	}
	#topnav{
		float: none;
		clear: both;
	}
	#ProcessPageSearchForm{
		width: 100%;
		max-width: 100%;
		margin-bottom: 1em;

		#ProcessPageSearchQuery{
			padding: 1em 0.6em;
			padding-left: 2.6em;
			width: 100%;
			border-width: 0 !important;
			text-align: left;
			// background: lighten($main-color, 5%);
			// border: 1px solid darken($main-color, 5%);
		}
		> label{
			left: 1em;
			right: auto !important;
		}
	}

	body #masthead #topnav a,
	body #content .WireTabs li a {
		padding: 0.6em;
	}


	// #logo {
	// 	display: none;
	// }


	#head_button {
		top: 102px;
	}

	#fieldgroupContext {
		display: none;
	}

}


/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
@media only screen and (max-width: 479px) {

	.Inputfield {
		clear: both !important;
		width: 100% !important;
		margin-left: 0 !important;
	}


	#footer #userinfo {
		float: none;
	}
	#footer {
		text-align: center;
	}

	#headline #head_button{
		position: static !important;
		clear: both !important;
		margin-top: 1em;
	}



	.AjaxUploadDropHere {
		display: none !important;
	}


}

@media only screen and (max-width: 320px) {

	#login-box{
		padding-top: 0;
		height: auto;
		top: 0;
		margin: 0;
		left: 0;
		width: 100%;
	}

}

