body {
  background: #b78fc6;
  background: #4f2e5b;
}
a,
.content .AdminDataList td a,
.content .PageListActions a:hover,
#userinfo .user_name,
.Inputfields .InputfieldHeader:hover {
  /* standard link color */
  color: #89519e;
}
a:hover,
.content .AdminDataList td a:hover {
  /* hovered link color */
  color: #89519e;
}
#collapse-topnav-menu,
#masthead > .container {
  background: #89519e;
}
#masthead {
  background: #89519e;
}
.collapse-topnav #masthead > .container {
  border-color: #6c407c;
}
#topnav > li > a,
#ProcessPageSearchForm > label {
  color: #b78fc6;
}
.ui-menu,
#topnav > li > a.hover,
#topnav > li > a:hover,
#ProcessPageSearchForm #ProcessPageSearchQuery:hover {
  background: #6c407c;
}
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active {
  background: #a16eb4 !important;
}
#headline,
#footer .brand img,
#topnav a.on {
  background: #89519e !important;
}
#topnav a.on {
  color: #ffffff !important;
}
.WireTabs {
  background: #ac7ebd !important;
}
.WireTabs #_ProcessPageEditView {
  color: #6c407c !important;
}
#breadcrumbs {
  background: #89519e;
}
#breadcrumbs ul a,
#breadcrumbs ul li {
  color: #b78fc6;
}
#breadcrumbs ul a:hover,
#breadcrumbs ul li:hover {
  color: #ffffff;
}
#breadcrumbs .title {
  color: #cdb1d7 !important;
}
@media only screen and (max-width: 767px) {
  #ProcessPageSearchForm #ProcessPageSearchQuery {
    background: #965dac;
    border: 1px solid #7a488d;
  }
}
