
// @main: #3d535c;
// @main: #ef8a7a;
// @main: #684d7e;

// VARIATIONS
// MAIN
@dark-main: darken(@main, 8%);
@darker-main: darken(@main, 20%);
@darkest-main: desaturate(darken(@main, 30%), 15%);

@light-main: lighten(@main, 10%);
@lighter-main: lighten(@main, 20%);
@lightest-main: lighten(@main, 30%);

// contrast colors
@contrast-main: contrast(@main, #333, #fff);
@medium-contrast-main: contrast(@main,@darker-main,@lighter-main);
@high-contrast-main: contrast(@main, @darkest-main, @lightest-main, 50%);
@low-contrast-main: contrast(@main,@dark-main,@light-main);
@minimum-contrast-main: contrast(@main,darken(@main, 4%),lighten(@main, 4%));

@background-color: desaturate(darken(@main, 10%), 30%);

// MAIN COLOR APPLICATIONS
body{
	background: @medium-contrast-main;
	// background: @darker-main;
	background: #333;
	background: @background-color;
}


#userinfo .user_name,
.Inputfields .InputfieldHeader:hover{
	color: @main;
}

// #footer > .container,
#collapse-topnav-menu,
#masthead > .container{
	background: @main;
}
#masthead{
	background: @main;
	border-bottom: 1px solid @minimum-contrast-main;
}

.collapse-topnav #masthead > .container{
	border-color: @dark-main;
}

// #footer,
// #footer a,
#topnav > li > a,
#ProcessPageSearchForm > label{
	color: @high-contrast-main;
}



.ui-menu,
.ui-menu .ui-menu-item,
.dropdown-menu .ui-menu-item>.ui-menu,
#topnav > li > a.hover,
#topnav > li > a:hover,
#topnav > li > a.dropdown-toggle.hover:hover,
#topnav a.on.dropdown-toggle:hover,
#ProcessPageSearchForm #ProcessPageSearchQuery:hover {
	background: @dark-main;
	color: @contrast-main;
}
.dropdown-menu .ui-menu-item .has-items-icon{
	background: lighten(@dark-main, 3%);
}

.ui-menu{
	.ui-menu-item{
		a{
			color: @high-contrast-main;
		}
	}
}


// main APPLICATIONS
.ui-menu .ui-menu-item a.ui-state-focus,
.ui-menu .ui-menu-item a.ui-state-active{
	background: @light-main !important;
	color: @contrast-main !important;
}


#headline,
#footer .brand img,
#topnav .on{
	background: @main;
}

#topnav a.on{
	color: @contrast-main !important;
}

.WireTabs{
	background: lighten(@main, 5%)!important;
	#_ProcessPageEditView{
		color: @dark-main !important;
	}
}

#breadcrumbs{
	background: @main;
	ul a,
	ul li{
		color: @high-contrast-main;
		&:hover{
			color: @contrast-main;
		}
	}
	.title{
		color: contrast(@main, @darker-main, white, 50%) !important;
	}
}

#head_button{
	button{
		background: @dark-main;
		border: 1px solid lighten(@main, 5%) !important;
		&:hover{
			background: @darker-main;
		}
		background: @dark-main;
		&.ui-state-focus{
			background: @light-main !important;
		}
	}
}


@media only screen and (max-width: 767px) {

	#ProcessPageSearchForm{
		#ProcessPageSearchQuery{
			background: lighten(@main, 5%);
			border: 1px solid darken(@main, 5%);
		}
	}
}



#notices{
	font-size: 0.85em;
	padding-bottom: 1.2em;
	.notices-remove{
		position: absolute;
		z-index: 20;
		top: 0.4em;
		right: 1.5em;
		color: #fff;
		font-size: 1em;
		top: 0.3em;
		right: 0;
		color: #fff;


		&:hover{
			// color: @dark-gray;
		}
	}	


	ul{
		width: 100%;
		margin: 0 !important;
		padding: 0 !important;
		list-style: none;
		position: relative;
		
		li{
			padding: 0.2em 0;
			margin: 0 !important;
			color: @contrast-main;
	
			.notice-remove{
				i{
					color: @contrast-main !important;
				}

			}

		}
	}
}