#breadcrumbs {
	padding: 0;
	margin: 0;
	overflow: hidden;
	// border-left: 1px solid @grayLighter;
	li {
		display: inline-block;
		a{
			color: lighten(@blue, 20%);
			padding: 0 0 0 1em;
			font-weight: bold;
			// display: block;
			line-height: 3em;
			position: relative;
			display: block;
			float: left;
			text-transform: uppercase;
			&:after{
				content: "\203A";
				font-size: 22px;
				position: relative;
				top: 0.05em;
				
			}			
			&:hover{
				color: #fff;
				
			}
		}
		&:first-child a{
			padding-left: 0;
		}

	}
	li.fright a{
		padding: 0 8px;
		&:after, &:before {
			display: none!important;
		}
	}

}
#bread{
	color: lighten(@blue, 10%);
	background: darken(@blue, 3%);
	position: relative;
}
#view-site{
	padding: 0 !important;
	line-height: 3.4em !important;
	float: right;
	display: block;
}