.nav-wrap{
	width: 40%;
	// float: right;
	display: inline-block;
	vertical-align: middle;
	text-align: right;
	// float: left;
}
#topnav {
	list-style: none;
	position: relative;
	z-index: 9;
	// margin: 0 0 2em 0;
	// float: left;
	padding: 0;
	ul{padding: 0;}
	li{
		margin: 0!important;
		padding: 0;
		position: relative;
		text-transform: uppercase;
		font-size: 16px;
		display: inline-block;

		a {
			display: inline-block;
			text-align: right;
			// border-radius: 0.4em;
			padding: 0;
			margin-left: 1em;
			// margin-bottom: 1em;
			line-height: 1.8em;
			
			color: lighten(@blue, 25%);
			font-weight: bold;
			// border-bottom: 1px solid lighten(@base, 4%);
		}
		a:hover {
			color: #fff;
		}
		a.on {
			// background:  darken(@base, 10%);
			color: darken(@blue, 15%);
		}
		&.fright a{
			margin: 0 0 0 8px;
		}
	}
	li:first-child{
		
	}
	.search, .changes{
		float: right;
	}
		ul.dropdown-menu {
			display: none; 
		}
}


#content #ProcessPageEdit > .Inputfields > .fixed-nav{
	.clearfix();
	position: fixed;
	bottom: 0 !important;
	z-index: 10;
	margin: 0 !important;
	// background: #fff;
	background: rgba(255, 255, 255, 0.7);
	padding: 1em 0 !important;
	right: 0;
	left: 0;
	border-top: 1px solid #ddd !important;
	.box-shadow(0 0 5px rgba(0,0,0,0.1));
	> .ui-widget-content{
		max-width: 1200px;
		width: 96%;
		padding: 0 2%;
		margin: 0 auto !important;
		position: relative;
	}

}
